{
	"semi": true,
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 200,
	"tabWidth": 4,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.yml",
			"options": {
				"useTabs": true,
				"tabWidth": 2
			}
		}
	]
}
